.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  height: 200px;
  border: 1px solid black;
}
.card-body {
  background-color: #282c34;
}
.sbox {
  width: 75%;
  margin-left: 15%;
}
.stext {
  margin: 2% 0% 1% 40%;
}
.suggestions{
  height: auto;
  position: absolute;
  z-index: 1000;
  width: 64%;
  margin: 0.5% 0% 0% 13%;
}
.slist{
  padding: 0.5%;
}
.slist-container {
  background: beige;
}
.category{
  padding-left: 1%;
}
.title{
  background: #282c34;
  padding: 0.5%;
  width: 99%;
  color: white;
}
.item {
  margin-top: 20px;
}

.btn {
  float: right;
  background-color: #12161e;
}

.card-title {
  text-align: center;
  color: aliceblue;
}

.amount {
  color: aliceblue;
  font-size: x-large;
  font-weight: 800;
}

.img {
  height: 180px;
  width: 100px;
  margin: auto;
  
}
